.brasil {
  margin-right: 10px;
}

.aleman {
  margin-right: 10px;
}

.ingles {
  margin-right: 10px;
}

.ruso {
  margin-right: 10px;
}

.frances {
  margin-right: 10px;
}

.cartas {
  margin: 130px;
}